<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="_content" stopProcessing="true">
                    <match url="_content/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="_data" stopProcessing="true">
                    <match url="_data/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="_layout" stopProcessing="true">
                    <match url="_layout/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="data/" stopProcessing="true">
                    <match url="data/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="models/" stopProcessing="true">
                    <match url="models/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="_images" stopProcessing="true">
                    <match url="_images/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 1" enabled="true">
                    <match url="^(.*).xml" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.php?{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" enabled="true">
                    <match url="character-feed.atom" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="character-feed-atom.php?{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" enabled="true">
                    <match url="^(.*).html" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.php?{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" enabled="true">
                    <match url="^(.*).htm" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}.php?{QUERY_STRING}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".xsl" />
            <remove fileExtension=".xslt" />
            <mimeMap fileExtension=".xslt" mimeType="text/xslt" />
            <mimeMap fileExtension=".xsl" mimeType="text/xsl" />
        </staticContent>
    </system.webServer>
</configuration>
